<div class="navbar w-100">
    <div class="navbar-brand my-auto" style="color: antiquewhite;">
        <div class="d-flex flex-row my-auto">
            <a id="back-btn" class="oi oi-arrow-left my-auto"></a>
            <label class="my-auto pl-4" for="">History Transaksi</label>
        </div>
    </div>
</div>

<!-- main container -->
<div class="container d-flex flex-column flex-grow-1" style="padding-top: 10px;">
    <div id="historyList" class="d-flex flex-column">

    </div>
</div>

<!-- <div class="d-flex historyRow">
    <div class="mr-1 historyNumber">
        <span>*</span>
    </div>
    <div class="d-flex flex-column historyDescription">
        <span>5 Desember 2020</span>
        <span>Pembelian paket data 10 GB ke no. 081212341234 berhasil, harga Rp. 80.000</span>
    </div>
</div> -->