<div class="navbar w-100">
    <a class="navbar-brand my-auto" style="color: antiquewhite;" href="">3G Apps</a>

    <!-- notification & profile -->
    <div class="d-flex flex-row my-auto">
        <a class="nav-link my-auto">
            <span class="oi oi-bell" style="color: aliceblue; font-size: 20px"></span>
        </a>
        <a class="nav-link my-auto">
            <span class="oi oi-person" style="color: aliceblue; font-size: 20px"></span>
        </a>
    </div>

</div>

<!-- main container -->
<div class="container d-flex flex-column flex-grow-1" style="padding-top: 10px;">

    <!-- saldo dan tombol -->
    <div id="saldo-tombol" class="rounded-lg d-flex flex-column flex-grow-0"
        style="background-color: #F7E8EF; height: 150px;">
        <!-- saldo label -->
        <div class="mt-auto mb-auto">
            <div class="saldo-label">
                <p class="saldo-text" style="background-color: beige;">Saldo</p>
                <p id="saldoBalance" class="saldo-text" style="background-color: beige;"></p>
            </div>

        </div>
        <!-- tombol history + deposit -->
        <div class="mt-auto mb-2 mr-2 d-flex justify-content-end">
            <button id="history-btn" class="m-1 btn btn-outline-primary">History</button>
            <button id="top-up-btn" class="m-1 btn btn-outline-danger">Top Up</button>
        </div>
    </div>

    <!-- menu payment -->
    <div id="menu-payment" class="flex-grow-1 my-2 d-flex flex-column">
        <div class="d-flex flex-wrap">
            <div id="">
                <div class="img-wrapper">
                    <img src="image/mobile.png" alt="">
                </div>

                <label for="">Pulsa Reguler</label>
            </div>
            <div id="directPaketInternet">
                <div class="img-wrapper">
                    <img src="image/globe.png" alt="">
                </div>

                <label for="">Paket Data Internet</label>
            </div>
            <div id="">
                <div class="img-wrapper">
                    <img src="image/mail.png" alt="">
                </div>

                <label for="">Paket SMS</label>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <div id="">
                <div class="img-wrapper">
                    <img src="image/phone.png" alt="">
                </div>
                <label for="">Pulsa Telepon</label>
            </div>
            <div id="">
                <div class="img-wrapper">
                    <img src="image/shopee.png" alt="">
                </div>

                <label for="">ShoopePay</label>
            </div>
            <div id="">
                <div class="img-wrapper">
                    <img src="image/ovo.png" alt="">
                </div>

                <label for="">OVO</label>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <div id="">
                <div class="img-wrapper">
                    <img src="image/grab.png" alt="">
                </div>

                <label for="">GRAB</label>
            </div>
            <div id="">
                <div class="img-wrapper">
                    <img src="image/gopay.png" alt="">
                </div>

                <label for="">GOPAY</label>
            </div>
            <div id="">
                <div class="img-wrapper">
                    <img src="image/dana.png" alt="">
                </div>
                <label for="">DANA</label>
            </div>
        </div>
    </div>
</div>