<div class="navbar w-100">
        <div class="navbar-brand my-auto" style="color: antiquewhite;">
            <div class="d-flex flex-row my-auto">
                <a id="back-btn" class="oi oi-arrow-left my-auto"></a>
                <label class="my-auto pl-4" for="">Konfirmasi</label>
            </div>
        </div>
    </div>
    
    <!-- main container -->
    <div class="container d-flex flex-column flex-grow-1"
        style="padding-top: 10px; padding-left: 2rem; padding-right: 2rem;">
        <!-- header -->
        <div class="mt-3">
            <h5>Konfirmasi Paket</h5>
            <p class="mt-4">
                Apakah Anda ingin membeli paket berikut:
            </p>
            <div id="internet-detail-paket" class="d-flex flex-column">
                <div class="d-flex">
                    <span>Nama Paket</span>
                    <span id="namaPaket" style="max-width: 10rem;"></span>
                </div>
                <div class="d-flex">
                    <span>Harga</span>
                    <span id="harga"></span>
                </div>
                <div class="d-flex">
                    <span>Nomor Tujuan</span>
                    <span id="nomorTujuan"></span>
                </div>
            </div>
        </div>
    
    
        <div class="w-100 text-center mt-5">
            <button id="cancelBtn" class="btn btn-outline-danger w-25">Batal</button>
            <button id="okBtn" class="btn btn-outline-primary w-25">Ok</button>
        </div>
    </div>