<div class="navbar w-100">
    <div class="navbar-brand my-auto" style="color: antiquewhite;">
        <div class="d-flex flex-row my-auto">
            <a id="back-btn" class="oi oi-arrow-left my-auto"></a>
            <label class="my-auto pl-4" for="">Top Up Saldo Via <span id="confirmTitle"></span></label>
        </div>
    </div>
</div>

<!-- main container -->
<div class="container d-flex flex-column flex-grow-1" style="padding-top: 10px;">
    <!-- confirm header -->
    <p id="confirm-header" class="text-center">
        Silahkan membayar Top Up Saldo dengan <span id="confirmText"></span> maksimal pembayaran 1 x 24 jam
    </p>

    <!-- confirm detail -->
    <div id="confirm-detail" class="mt-5 d-flex flex-column">
        <p id="confirmDetailText" class="text-center">
            Kode Pembayaran
        </p>
        <div class="d-flex flex-column">
            <p id="kodePembayaranText" class="confirm-nominal">
                12345678
            </p>
            <button id="confirm-btn" class="btn btn-outline-primary mx-auto">OK</button>
        </div>

        <p id="confirm-header" class="text-center">
            Setelah melakukan pembayaran, akan ada notifikasi status berhasil Top Up
        </p>
    </div>

</div>